.loader {
  position: relative;
  margin: 0 auto;
  width: 40px;
}
.loader.loader-sm {
	width: 18px;
}
.loader.loader-md {
	width: 40px;
}
.loader.loader-lg {
	width: 60px;
}
.loader:before {
  content: '';
  display: inline-block;
  padding-top: 100%;
}

.circular {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

.pathp {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color-primary 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color-primary 6s ease-in-out infinite;
  stroke-linecap: round;
}

.pathd {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color-dark 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color-dark 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@-webkit-keyframes color {
  100%,0% {
    stroke: #fff;
  }
}
@keyframes color {
  100%,
  0% {
    stroke: #fff;
  }
}

@-webkit-keyframes color-primary {
  100%,0% {
    stroke: #007bff;
  }
}
@keyframes color-primary {
  100%,
  0% {
    stroke: #007bff;
  }
}

@-webkit-keyframes color-dark {
  100%,0% {
    stroke: #000;
  }
}
@keyframes color-dark {
  100%,
  0% {
    stroke: #000;
  }
}